/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  margin: 0 auto;
  padding: 1em;
}
#gameboard{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#gameboard > section{
  min-width: 50%;
}
#gameboard >section > *{
  display: block;
  text-align: center;
}

#verdict{
  align-self: flex-end;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
