/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img, iframe{
  display: block;
  margin: 0 auto;
  max-width: 500px;
}
section{
  display: inline-block;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
